/* event.css */
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5); /* 50% transparent white */
  
  backdrop-filter: blur(10px);
  
  padding: 20px;
  border-radius: 10px;
}


label {
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"], input[type="datetime-local"], select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  margin-top: 20px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
