/* app.css */
.animated-background {
  background: linear-gradient(45deg, #00796b, #004d40, #00796b);
  background-size: 400% 400%;
  min-height: 100vh;
  padding: 1rem;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
